html {
    scroll-behavior: smooth;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #fbebef;
    padding-top: 140px;
    scroll-behavior: smooth;
}

header {
    background-color: #f4c1d1;
    color: #fff;
    padding: 40px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 98%;
    z-index: 900;
}

h1 {
    margin: 0;
}

h1,
nav a {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.box {
    background-color: #ff69b4;
    padding: 10px 20px;
    margin-right: auto;
    border-radius: 25px;
}

nav {
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    background-color: #F1ACC2;
    border-radius: 20px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.picture {
    position: relative;
    margin-left: 150px;
    margin-top: 40px;
    border: 10px solid #fff;
    display: inline-block;
}

.overlay-image {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%) rotate(15deg);
    width: 80px;
    height: auto;
    z-index: 1;
}


.information-box {
    position: absolute;
    top: 50%;
    left: calc(100% + 70px);
    padding: 20px 40px;
    background-color: #f4c1d1;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-50%);
    width: 700px;
    height: 200px;
}

.accounting-text {
    color: #ea5783;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.computer-text {
    color: #A57FB2;
    font-weight: bold;
    font-size: 35px;
    padding-left: 45px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.accounting-content {
    margin-top: 10px;
    margin-left: 0;
    color: #ea5783;
}

.computer-content {
    margin-top: 10px;
    margin-left: 0;
    line-height: 1.5;
}

.social-icons {
    display: flex;
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-icons a img:hover {
    transform: scale(1.5);
}

.separator {
    margin-top: 20px;
    height: 0;
    border-top: 2px dashed #ff69b4;
    width: 100%;
    content: "";
    display: block;
    clear: both;
}

.certificates-box {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-top: 40px;
    padding: 20px 40px;
    background-image: url("IMG_3103.jpg");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 200px;
    margin-left: 150px;
}


.certificates-box .icon {
    margin-right: 20px;
}

.certificates-box .content {
    flex-grow: 1;
}

.certificates-box .information-text {
    color: #ea5783;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.certificates-box ul {
    font-size: 20px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.certificates-box ul li {
    margin-bottom: 10px;
    background: none;
    border: none;
    padding: 0;
    white-space: nowrap;
    font-size: inherit;
}

.certificates-box ul li span {
    display: inline-block;
    width: 60%;
    white-space: nowrap;
}


.icon {}

.computer-certificates-box {
    display: flex;
    grid-template-columns: auto 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    position: relative;
    color: #A57FB2;
    margin-top: 40px;
    padding: 20px 40px;
    background-image: url("IMG_3105.jpg");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 250px;
    margin-left: 575px;
}

.computer-certificates-box ul {
    font-size: 20px;
    list-style-type: none;
    padding-left: 50px;
    margin-top: 10px;
}

.experience-content {
    flex-grow: 1;
}

.title-text_2 {
    color: white;
    font-weight: bold;
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 15px;
    display: inline-block;
    background-color: #caabd8;
    border-radius: 25px;
    padding: 10px 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.experiences-box {
    color: #A57FB2;
    display: flex;
    grid-template-columns: auto 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-top: 40px;
    padding: 20px 40px;
    background-image: url('IMG_3100.JPG');
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 900px;
    height: 200px;
    margin-left: 150px;
    line-height: 3;
    text-shadow: 0px 0px 2px rgba(156, 81, 150, 0.1);
}

.icon-and-experience {
    display: flex;
    align-items: center;
}

.icon {
    flex-shrink: 0;
    margin-left: 30px;
    margin-top: 20px;
}

.experience-content {
    flex-grow: 1;
}

.experience-content h2 {
    padding-left: 15px;
}